{% extends 'layouts/default.html' %}

{% block content %}
    <h1>What is the {{ game_name|default:'UNKNOWN' }} Web Randomizer?</h1>
    <div class="well">
        <p>A program that can randomize STUFF for {{ game_name|default:'UNKNOWN' }}.  This includes:
          <ul>
            <li> [Add some cool randomized features here] 
            </li>
        </p>
        <p>This program wouldn't have been been made without the work of several people:</p>
        <ul>
            <li>YOUR_NAME_HERE for creating the randomizer
            </li>
            <li><a href="https://github.com/tetraly" target="_blank">Tetraly</a> for creating the Seedling template this randomizer is based off of. 
            </li>
            <li><a href="https://github.com/DorkmasterFlek" target="_blank">Dorkmaster Flek</a>, Veetorp, and the <a href="http://alttpr.com/" target="_blank">Link to the Past
                randomizer</a> community for their excellent work on web-based ROM patching, much of which was copied with permission.
            </li>
        </ul>
    </div>
    <h1>Woah cool! Where do I download this?</h1>
    <div class="well">
        <p>You don't! This randomizer is entirely web-based. You simply provide your original ROM
           to the site, select your flags and seed number and it does the rest. No downloading 
           required! Click the "Generate Randomized Game" link above to get started!</p>
    </div>
    <h1>Sweet! How do I play this thing?</h1>
    <div class="well">
        <p>Click the "How To Play" link above to see more details about how to actually play the randomized game!</p>
    </div>
    <h1>Awesome! Can I play with others?</h1>
    <div class="well">
        <p>Yes! You can find other people to play with on the 
            <a href="https://discord.gg/DISCORD_LINK_HERE" target="_blank">NAME_OF_GAME Randomizer Discord</a>!</p>
    </div>
{% endblock %}
